# Requirements for running the code on Compute Canada

absl_py==2.2.2+computecanada
certifi==2025.1.31+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.8+computecanada
cloudpickle==3.1.1+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
docker-pycreds==0.4.0+computecanada
docstring_parser==0.16+computecanada
Farama_Notifications==0.0.4+computecanada
filelock==3.18.0+computecanada
fonttools==4.57.0+computecanada
fsspec==2025.3.2+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
grpcio==1.67.0+computecanada
gymnasium==0.29.1+computecanada
idna==3.10+computecanada
jinja2==3.1.6+computecanada
kiwisolver==1.4.8+computecanada
Markdown==3.8
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.9.1
mdurl==0.1.2+computecanada
minigrid==2.3.1
mpmath==1.3.0+computecanada
networkx==3.4.2+computecanada
numpy==2.2.2+computecanada
ordered_set==4.1.0+computecanada
packaging==24.2+computecanada
pandas==2.2.2+computecanada
pillow==11.1.0+computecanada
platformdirs==4.3.7+computecanada
protobuf==4.25.6
psutil==6.1.1+computecanada
pygame==2.5.2+computecanada
pygments==2.19.1+computecanada
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
requests==2.32.3+computecanada
rich==14.0.0+computecanada
sentry-sdk==2.26.1
setproctitle==1.3.4+computecanada
shtab==1.7.2
six==1.17.0+computecanada
smmap==5.0.2+computecanada
stable_baselines3==2.3.2+computecanada
sympy==1.13.1+computecanada
tensorboard==2.17.0+computecanada
tensorboard_data_server==0.7.2+computecanada
torch==2.6.0+computecanada
tqdm==4.66.4+computecanada
typing_extensions==4.12.2+computecanada
tyro==0.8.5
tzdata==2025.2+computecanada
urllib3==2.4.0+computecanada
wandb==0.17.5
werkzeug==3.1.3+computecanada